$white: rgb(216, 209, 209);
$red: #f84040;
$green: #1ac30e;
$blue: #00aeff;
$azure: #f0ffff;

// Font
$marker-style: 'Permanent Marker', cursive;
$default-style: "Ubuntu Mono", monospace;

// a4
$a4-color: rgb(60, 60, 60);
